extends layout
block content
    .navbar.navbar-inverse#head
        .navbar-inner
            .container-fluid
                a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.brand(href='/')
                    | PreVIEW
                .nav-collapse
                    ul.nav
                        li.active
                            a(href='#')
                                | Home
                        li
                            a(href='./about')
                                | About
                        li
                            a(href='./settings')
                                | Settings
    .container-fluid#container(style="height:90%;")
        .row-fluid(style="height:100%;")
            .span6(style="height:100%;")
                textarea#source_code(style="height:100%;width:95%;margin-right:20px;resize: none;",placeholder="Enter file contents here...")=source
            .span6
                div#preview(style="padding:5px;width:100%;overflow:auto;border:1px solid #eee;")
block footer
    script(type="text/javascript")
        require(['javascripts/pages/index'], function(initialize) {
              initialize();
            });
