#codeTextarea{
    width:500px;
    height:510px;
}
.textAreaWithLines{
    font-family:courier;
    border:1px solid #666;
    background-color:#eee;
}
.textAreaWithLines textarea,.textAreaWithLines div{
    border:0px;
    line-height:120%;
    font-size:12px;
}
.lineObj{
    color:#aaa;
}